/* #region app-web */
body {
    overflow: hidden;
}

#app-header {
    height: var(--sp_app_header_h);
}

#app-main {
    height: calc(100vh - var(--sp_app_footer_h) - var(--sp_app_header_h));
    overflow-y: auto;
}

#app-main .first-element-in-the-main {
    height: 100%;
}

#app-footer {
    height: var(--sp_app_footer_h);
}

/* #endregion app-web */