/* #region app-web */
body {
    overflow: hidden;
}

/* #app-header {
    height: var(--sp_app_header_h);
} */

.top {
    height: calc(100vh - var(--sp_bottom_h));
    overflow-y: auto;
}

.top .content {
    height: 100%;
}

.bottom {
    height: var(--sp_bottom_h);
}

/* #endregion app-web */