/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--rl_font);
}


li {
    list-style-type: none;
}

a {
    /* Possibili Ovveride in style.css*/
    color: white;
    text-decoration: none;
}

a:hover {
    /* Possibili Ovveride in style.css*/
    font-weight: bold;
    font-size: 1.1rem;
}

:root {
    --rl_debug_height: 600px;
    --rl_shadow: #9d9d9d;
    --rl_white: white;
    --rl_black: black;
    --rl_font: 'PT Sans', sans-serif;
    --icon-size: .8em;
    --gutter: .5em;
    --rl_secondary: #0084fd;
    --rl_primary: #9792e4;
    --rl_light: #b5ddff;
    --rl_dark: #333333;
}

/* #endregion Common */