/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--sp_font);
}


li {
    list-style-type: none;
}

a {
    /* Possibili Ovveride in style.css*/
    color: white;
    text-decoration: none;
}

a:hover {
    /* Possibili Ovveride in style.css*/
    font-weight: bold;
    font-size: 1.1rem;
}

i {
    color: var(--sp_white);
}

button {
    background: none;
    border: none;
}

:root {
    --sp_shadow: #9d9d9d;
    --sp_font: 'Circular Std', sans-serif;

    --icon-size: .8em;
    --gutter: .5em;

    --sp_bottom_h: 85px;
    --sp_sidebar_w: 55px;
    --sp_sidebar_bottom_h: 60px;

    --sp_content_banner_bg: #080B12;
    --sp_content_bg: #141922;
    --sp_bottom_bg: #282828;
    --sp_black: black;
    --sp_white: white;

    --sp_secondary: #adff2f;
    --sp_bar_hover: #c1c1c1;
    --sp_bar_down: #5a5a5a;
    --sp_icon_1: #d2d2d2;
    --sp_icon_2: #a3a3a3;
    --sp_txt: #717171;
}

/* #endregion Common */