/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--sp_font);
}


li {
    list-style-type: none;
}

a {
    /* Possibili Ovveride in style.css*/
    color: white;
    text-decoration: none;
}

a:hover {
    /* Possibili Ovveride in style.css*/
    font-weight: bold;
    font-size: 1.1rem;
}

:root {
    --sp_debug_height: 600px;
    --sp_shadow: #9d9d9d;
    --sp_white: white;
    --sp_black: black;
    --sp_font: 'PT Sans', sans-serif;
    --icon-size: .8em;
    --gutter: .5em;
    --sp_secondary: #0084fd;
    --sp_primary: #9792e4;
    --sp_light: #b5ddff;
    --sp_dark: #333333;
}

/* #endregion Common */