/* #region Debug */
* {
    border: 1px dashed red;
}

/* #region Grid */
.debug .container {
    background-color: green;
    padding: 1rem;
}

.debug .row {
    background-color: yellow;
    padding: 1rem;
}

.debug [class^="col_"] {
    background-color: aqua;
    padding: 1rem;
}

/* #endregion Grid */

/* #region style */
/* #region top */
/* .debug .top {
    /* Il background-color lo metto in style.css 
    padding: 1rem;
} */

/* #region content */
/* .debug .content {
    /* Il background-color lo metto in style.css
    padding: 1rem;
} */

/* #endregion content */

/* #region sidebar */
/* .debug .sidebar {
    /* Il background-color lo metto in style.css 
    padding: 0.5rem;
} */

/* #region sidebar_top */
/* .debug .sidebar_top {
    /* Il background-color lo metto in style.css 
    padding: 1rem;
} */

/* #endregion sidebar_top */
/* #region sidebar_bottom */
/* .debug .sidebar_bottom {
    /* Il background-color lo metto in style.css 
    padding: 1rem;
} */

/* #endregion sidebar_bottom */
/* #endregion sidebar */
/* #endregion top */

/* #region bottom */
/* .debug .bottom {
    /* Il background-color lo metto in style.css 
    padding: 1rem;
} */

/* #endregion bottom */
/* #endregion style */
/* #endregion Debug */