/* #endregion media query */
/* #region Media-Query-560px */
@media screen and (min-width: 553px) {
    /* #region top */
    /* #region content */
    /* #endregion content */

    /* #region sidebar */
    .top > .sidebar {
        width: 230px;
        padding: 1rem;
    }

    .top .action_name {
        display: inline-block;
    }

    /* #region sidebar_top */
    /* #endregion sidebar_top */

    .sidebar_top .spotify-logo--text {
        display: block;
        padding-right: 3rem;
    }

    .sidebar_top .spotify-logo {
        display: none;
    }

    .sidebar_top .action svg {
        height: 1.5rem;
    }

    .playlist {
        display: block;
    }

    /* #region sidebar_bottom */
    .sidebar_bottom .download {
        padding: 0;
        padding-top: 1rem;
    }

    .sidebar_bottom .download svg {
        height: 1rem;
    }

    .sidebar_bottom .spacer {
        display: block;
    }

    .sidebar_bottom .user {
        width: 1.5rem;
    }

    .sidebar_bottom .user svg {
        width: 1.5rem;
    }



    /* #endregion sidebar_bottom */
    /* #endregion sidebar */
    /* #endregion top */

    /* #region bottom */
    /* #endregion bottom */
}

/* #endregion Media-Query-560px*/
/* #region Media-Query-769px */
@media screen and (min-width: 640px) {
    /* #region top */
    /* #region content */
    /* #endregion content */

    /* #region sidebar */
    /* #region sidebar_top */
    /* #endregion sidebar_top */
    /* #region sidebar_bottom */
    /* #endregion sidebar_bottom */
    /* #endregion sidebar */
    /* #endregion top */

    /* #region bottom */
    .bottom .menu.left_ .track_info {
        padding-right: 2rem;
    }

    .bottom .menu.right_ i {
        margin-right: 0.8rem;
    }

    .bottom .menu.right_ > .bar {
        flex-grow: 0;
        flex-basis: 50%;
    }

    .bottom .menu.left_ .track_operation > ul {
        display: flex;
        gap: 0.5rem
    }

    /* #endregion bottom */
}

/* #endregion Media-Query-769px*/
/* #region Media-Query-1280px */
@media screen and (min-width: 879px) {
    /* #region top */
    /* #region content */
    /* #endregion content */

    /* #region sidebar */
    /* #region sidebar_top */
    /* #endregion sidebar_top */

    /* #region sidebar_bottom */
    /* #endregion sidebar_bottom */
    /* #endregion sidebar */
    /* #endregion top */

    /* #region bottom */
    .bottom .menu.center_ .bar {
        flex-grow: 0;
        flex-basis: 60%;
    }

    /* #endregion bottom */
}

/* #endregion Media-Query-1280px*/
/* #endregion media query */