/* #region style */
body {
    overflow: hidden;
}

/* #region ************************ Utility tmp */
.artist_name {
    color: var(--sp_gray_3);
}

.artist_name:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--sp_white);
}

.track_name {
    color: var(--sp_white)
}

/* #endregion ********************* Utility tmp */

/* #region top */
.top {
    height: calc(100vh - var(--sp_bottom_h));
    display: flex
}

/* #region content */
.top > .content {
    width: calc(100% - var(--sp_sidebar_w));
    overflow-y: auto;
    background-color: var(--sp_content_bg);
    padding: 1.5rem;
    padding-right: 2.5rem;
}

.content .navbar {
    padding: 0.5rem;
}


.content .navbar .list_inline {
    gap: 2rem;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.content .navbar a {
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
}

.content .navbar a:hover::after {
    content: '';
    width: 2rem;
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid var(--sp_secondary);
}

.content .track .cover:hover img {
    filter: brightness(0.5);
}

.content .track .cover {
    position: relative;
}

.content .track .cover:hover::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: url("../img/circle-play-regular.svg");
    z-index: 1;
    filter: invert(100%);
    transform: scale(0.3);
}

.content .track_info {
    text-align: center;
}

.content .track_name {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.content .artist_name {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}

/* #endregion content */

/* #region sidebar */
.top > .sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sp_sidebar_w);
    overflow: hidden;
    background-color: var(--sp_black);
    padding: 0 0.7rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

.sidebar .action_icon {
    display: inline-block;
}

.sidebar .action_name {
    padding-left: 0.1rem;
    display: none;
    vertical-align: 50%;
}

.action {
    padding: 0.15rem;
    display: block;
    position: relative;
}

.sidebar .action svg {
    width: 1.5rem;
}

.action:hover::after {
    content: '';
    height: 100%;
    position: absolute;
    z-index: 2;
    left: -0.5rem;
    bottom: 0;
    border-right: 3px solid var(--sp_secondary);
}


/* #region sidebar_top */
.sidebar_top {
    height: var(--sp_sidebar_top_h);
}

.sidebar_top .spotify-logo--text {
    display: none;
}

.sidebar_top .logo {
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

/* #endregion sidebar_top */
/* #region playlist */
.playlist {
    height: calc(100% - var(--sp_sidebar_bottom_h) - var(--sp_sidebar_top_h));
    overflow-y: auto;
    /* E' a causa di questo overflow che non si evidenzia in verde la .action.add */
    display: none;
}

.playlist h2 {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.playlist .list_no_point {
    /* ?? Dubbio */
    height: 100%;
}

.playlist .list_no_point li {
    margin-top: 1rem;
}

/* #endregion playlist */
/* #region sidebar_bottom */
.top .sidebar_bottom {
    height: var(--sp_sidebar_bottom_h);
}

.sidebar_bottom .download {
    padding: 0.5rem;
}

.sidebar_bottom .action.download > svg {
    /* Override di una regola generale */
    width: 1rem;
}

.sidebar_bottom .spacer {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    display: none;
}

.sidebar_bottom .download .action_name {
    vertical-align: 30%;
}

.sidebar_bottom .user .action_name {
    padding-left: 0.2rem;
    vertical-align: 50%;
    font-size: 1rem;
}

/* #endregion sidebar_bottom */
/* #endregion sidebar */
/* #endregion top */



/* #region bottom */
.bottom {
    height: var(--sp_bottom_h);
    background-color: var(--sp_bottom_bg);
}

.bottom .row,
.bottom [class^="col_"],
.bottom .menu {
    height: 100%;
}

.bottom .row {
    justify-content: space-between;
}

.bottom .menu {
    display: flex;
    align-items: center;
}

.bottom .menu.left_ {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 0.8rem;
    justify-content: start;
}

.bottom .menu.left_ .track_cover {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bottom .menu.left_ .track_info {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.bottom .menu.left_ img {
    max-height: 100%;
}

.bottom .menu.center_ {
    justify-content: stretch;

}

.bottom .console {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.bottom .menu.center_ .list_inline {
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7rem;
}

.bottom .menu.center_ .fa-circle-play {
    margin: 0 1.8rem;
}

.bottom .menu.center_ .fa-backward-step {
    margin-left: 1.2rem;
}

.bottom .menu.center_ .fa-forward-step {
    margin-right: 1.2rem;
}

.bottom .tracker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom .tracker .time_now {
    color: var(--sp_white);
    margin-right: 0.6rem;
}

.bottom .tracker .time_end {
    color: var(--sp_white);
    margin-left: 0.6rem;
}

.bottom .bar {
    background-color: var(--sp_bar_down);
    height: 0.3rem;
    border-radius: 0.5rem;
    flex-grow: 1;
    position: relative;
}

.bottom .bar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--sp_bar_hover);
    width: 30%;
    height: 0.3rem;
    border-radius: 0.5rem;
}

.bottom .menu.right_ {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    justify-content: right;
}

.bottom .menu.right_ i {
    margin-right: 0.6rem;
}

/* #endregion bottom */
/* #endregion style */